* {
  font-family: "Roboto Nerd Font";
}

#window,
#workspaces,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#clock {
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  color: rgba(255, 80, 0, 0.7);
}

#workspaces button {
  transition: none;
  background: transparent;
}

#workspaces button.focused {
  color: rgba(255, 80, 0, 1);
}

#workspaces button:hover {
  color: rgba(255, 80, 0, 1);
}

window#waybar {
  background: black;
  font-size: 18px;
}

#window {
  background: black;
}

#workspaces {
  background: black;
}

#network {
  background: black;
}

#pulseaudio {
  background: black;
}

#temperature {
  background: black;
}
#temperature.critical {
  animation: blink-critical 1s steps(2, start) infinite;
  color: rgba(255, 80, 0, 1);
}

#cpu {
  background: black;
}

#memory {
  background: black;
}

#clock {
  background: black;
}

@keyframes blink-critical {
  50% {
    opacity: 0.7;
  }
}
