* {
  font-family: "Roboto Nerd Font";
}

#window,
#workspaces,
#network,
#backlight,
#pulseaudio,
#temperature,
#cpu,
#memory,
#battery,
#clock {
  padding-left: 16px;
  padding-right: 16px;
  transition: none;
  color: rgba(255, 80, 0, 0.7);
}

#workspaces button {
  transition: none;
  background: transparent;
}

#workspaces button.focused {
  color: rgba(255, 80, 0, 1);
}

#workspaces button:hover {
  color: rgba(255, 80, 0, 1);
}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
#battery.critical,
#temperature.critical {
  animation: blink-critical 1s steps(2, start) infinite;
  color: rgba(255, 80, 0, 1);
}

@keyframes blink-critical {
  50% {
    opacity: 0.7;
  }
}
